<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.automationpractice.listeners.TestListener"></listener>
	</listeners>

	<test name="Test">

	    <groups>
            <run>
                <include name="mainPageTests"></include>
                <exclude name="loginAndCreateAnAccountPageTests"></exclude>
            </run>
        </groups>

		<classes>
			<class name="com.automationpractice.testcases.LoginAndCreateAnAccountPageTest"/>
			<class name="com.automationpractice.testcases.MainPageTest" />
			<class name="com.automationpractice.datagenerators.DataGenerator" />
		</classes>

	</test>

</suite> 
