<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.automationpractice.listeners.TestListener"></listener>
	</listeners>


	<test name="MainPageTests">

		<parameter name="openedURL" value="http://automationpractice.com/index.php"></parameter>

		<groups>
			<run>
				<include name="mainPageTests"></include>
			</run>
		</groups>

		<classes>
			<class name="com.automationpractice.testcases.MainPageTest" />
			<class name="com.automationpractice.datagenerators.DataGenerator" />
		</classes>

	</test>

	<test name="LoginAndCreateAnAccountPageTests">

		<parameter name="openedURL" value="http://automationpractice.com/index.php?controller=authentication&amp;back=my-account"></parameter>

		<groups>
			<run>
				<include name="logIn"></include>
				<exclude name="createAccount"></exclude>
			</run>
		</groups>

		<classes>
			<class name="com.automationpractice.testcases.LoginAndCreateAnAccountPageTest" />
			<class name="com.automationpractice.datagenerators.DataGenerator" />
		</classes>

	</test>

</suite> 
